:root {
    font-family: "Roboto";
}

html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    background-color: rgb(19, 19, 19);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    background-image: url('./assets/black-waves-v5.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    height: 16px;
    width: 16px;
    margin: 0 4px;
}

.github-icon {
    filter: invert(99%) sepia(18%) saturate(0%) hue-rotate(114deg) brightness(104%) contrast(101%);
}

*::selection {
    background-color: #4f976d;
}

.draftjs-wrapper, .draftjs-editor, .draftjs-toolbar {
    background-color: white;
    color: black;
}

.draftjs-editor {
    padding: 8px;
}

.draftjs-wrapper-post {
    min-height: 480px;
}

.draftjs-wrapper-comment {
    min-height: 320px;
}