:root {
    font-family: "Roboto";
}

html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.icon {
    height: 16px;
    width: 16px;
    margin: 0 4px;
}